* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

.header {
    background-color: #26C6DA;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.sess1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('babosa.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.ss2 h1 {
    font-size: 3em;
    font-weight: 700;
}

.ss2 p {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 400;
}

button, .file-button {
    background-color: #8D6E63;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover, .file-button:hover {
    background-color: #4CAF50;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classificassao, .monitoramento{
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
    text-align: center;
}

.classificacao-box, .data-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4CAF50;
}

.monitoramento {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gauge-section, .line-chart-section, .data-section {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    margin: 10px;
}

canvas {
    margin-top: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: #8D6E63;
}
